## Session #1 Homework

### Set up the environment

You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can the instructions from [**`06-environment.md`**](https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/01-intro/06-environment.md)

### Question 1

What's the version of NumPy that you installed? 

You can get the version information using the `__version__` field:

```python
np.__version__
```

In [2]:
import numpy as np
np.__version__

'1.19.5'

### Question 2

What's the version of Pandas?

In [3]:
import pandas as pd
pd.__version__

'1.3.2'

### Getting the data 

For this homework, we'll use the same dataset as for the next session - the car price dataset.

Download it from [here](https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv).

You can do it with wget:

```bash
wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
```

Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [4]:
df = pd.read_csv('data.csv')

In [10]:
df.head(5)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

### Question 3

What's the average price of BMW cars in the dataset?

In [23]:
ave_price = round(df[df['Make'] == 'BMW'].MSRP.mean(),2)
print('The average price of BMW cars is $' + str(ave_price))

The average price of BMW cars is $61546.76

### Question 4

Select a subset of cars after year 2015. How many of them have missing values for Engine HP?

In [32]:
dt_temp = df[df['Year'] >= 2015]
m_v_engine_hp = dt_temp['Engine HP'].isnull().sum()
print('For Engine HP there are ' +str(m_v_engine_hp)+ ' missing values')

For Engine HP there are 51 missing values

### Question 5

* Calculate the average "Engine HP" in the dataset. 
* Use the `fillna` method and to fill the missing values in "Engine HP" with the mean value from the previous step. 
* Now, calcualte the average of "Engine HP" again.
* Has it changed? 

Round both means before answering this questions. You can use the `round` function for that:

```python
print(round(mean_hp_before))
print(round(mean_hp_after))
```

In [51]:
mean_hp_before = df['Engine HP'].mean()
mean_hp_after = df['Engine HP'].fillna(df['Engine HP'].mean()).mean()
print(round(mean_hp_before))
print(round(mean_hp_after))

249
249

There was no change in the HP engine averages.

### Question 6

* Select all the "Rolls-Royce" cars from the dataset.
* Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
* Now drop all duplicated rows using [`drop_duplicates`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html) method (you should get a dataframe with 7 rows).
* Get the underlying NumPy array. Let's call it `X`.
* Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
* Invert `XTX`.
* What's the sum of all the elements of the result?

In [5]:
df_temp = df[df['Make'] == 'Rolls-Royce']
df_temp = df_temp[['Engine HP','Engine Cylinders','highway MPG']]
df_temp = df_temp.drop_duplicates()
X=df_temp.values
XTX = X.T.dot(X)
XTXinv = np.linalg.inv(XTX)
s_res = XTXinv.sum()
print('The sum of all the elements of the result is '+ str(s_res))

The sum of all the elements of the result is 0.032212320677486125

### Questions 7 

* Create an array `y` with values `[1000, 1100, 900, 1200, 1000, 850, 1300]`.
* Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
* What's the value of the first element of `w`?.

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

In [78]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
XTXinv = np.linalg.inv(XTX) 
res = XTXinv.dot(X.T)
w = res.dot(y)
print('The value of the first element of w is ' + str(w[0]))

The value of the first element of w is 0.19989598183188978

## Submit the results

Submit your results here: https://forms.gle/aiunQqRtqcay8Wwo9.

If your answer doesn't match options exactly, select the closest one.

## Deadline

The deadline for submitting is 13 September 2021, 17:00 CET. After that, the form will be closed.

## Navigation

* [Lesson 1: Introduction to Machine Learning](../)
* Previous: [Summary](https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/01-intro/10-summary.md)